/* 设置背景 */
.ibody {
    background: rgba(0, 0, 0, 0) url("../images/bg.png") repeat-y scroll 0 0;
    box-shadow: -2px -1px 5px #666;
    margin: auto;
    width: 1000px;
}
body {
    font: 14px "宋体",Arial,Helvetica,sans-serif;
}

.clearfix:after,.clearfix:before{
	content: '';
	display: table;
}
.clearfix:after{
	clear: both;
}
.left{
	float: left;
}
.right{
	float: right;
}

/* 设置头部 */
header {
   /*  background: rgba(0, 0, 0, 0) url("../images/ibodybg.png") no-repeat scroll right top; */
    position: relative;
}

header h1 {
    font-family: "Microsoft Yahei",Arial,Helvetica,sans-serif;
    font-size: 22px;
    padding: 15px 0 0 80px;
}

header h2 {
    color: #8e8d8d;
    margin: 20px 80px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

header .logo {
    background: #000 url("../images/home.png") no-repeat scroll center center;
    border-radius: 50%;
    box-shadow: 0 2px 2px #414141;
    height: 145px;
    left: -72px;
    position: absolute;
    top: 40px;
    width: 145px;
}

header .logo a {
    display: block;
    height: 100%;
    width: 100%;
}

header nav {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    height: 48px;
    line-height: 48px;
    padding-left: 80px;
}
header nav a {
    color: #fff;
    display: inline-block;
    font-family: "Microsoft Yahei",Arial,Helvetica,sans-serif;
    font-size: 18px;
    padding: 0 20px;
    transition: all 1s ease 0s;
}
header nav a:hover{
	background:#e41635 none repeat scroll 0 0;
}
header nav a[class*='active']{
    background:#e41635 none repeat scroll 0 0;
}

/* 主页博文列表 */
article{
	width: 73%;
	float: left;
}
article .banner{
	background: url('../images/banner4.jpg') no-repeat center center;
	height: 290px;
	margin: 10px auto;
	width: 100%;
}

article .banner ul{
	line-height: 36px;
    padding: 50px 0 0 40px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.3);

}
article .banner ul li:nth-of-type(1){
	animation: 3s ease-out 1s normal backwards 1 running animations;
}
article .banner ul li:nth-of-type(2){
	animation: 3s ease-out 4s normal backwards 1 running animations;
}
article .banner ul li{
	transform: translate(60px);
	transition: 1s ease 0s;
}
article .banner ul li:hover{
	transform: translate(100px);
}
@keyframes animations {
	0% {
   	 	opacity: 0;
    	transform: translate(0px);
	}
	50% {
    	opacity: 0.5;
    	transform: translate(30px);
	}
	100% {
    	opacity: 1;
    	transform: translate(60px);
	}
}
@-webkit-keyframes animations {
	0% {
   	 	opacity: 0;
    	transform: translate(0px);
	}
	50% {
    	opacity: 0.5;
    	transform: translate(30px);
	}
	100% {
    	opacity: 1;
    	transform: translate(60px);
	}
}
@-moz-keyframes animations {
	0% {
   	 	opacity: 0;
    	transform: translate(0px);
	}
	50% {
    	opacity: 0.5;
    	transform: translate(30px);
	}
	100% {
    	opacity: 1;
    	transform: translate(60px);
	}
}
@-ms-keyframes animations {
	0% {
   	 	opacity: 0;
    	transform: translate(0px);
	}
	50% {
    	opacity: 0.5;
    	transform: translate(30px);
	}
	100% {
    	opacity: 1;
    	transform: translate(60px);
	}
}




/* 主页博文列表*/
.bloglist h2{
    border-bottom: 2px solid #474645;
    font-family: "Microsoft Yahei",Arial,Helvetica,sans-serif;
    font-size: 16px;
    height: 26px;
    letter-spacing: 2px;
    line-height: 28px;
    margin: 0 8px 20px;
    overflow: hidden;
    
}
.bloglist h2 span{
	background: #474645 none repeat scroll 0 0;
    box-shadow: 4px 5px 1px #999;
    color: #fff;
    text-align: center;
    width: 180px;
    display: block;
}
.blogs {
    margin: 0 20px 20px;
    position: relative;
}

.bloglist .blogs:before{
	background: #cac1c1 none repeat scroll 0 0;
	border: 2px solid #fff;
	border-radius: 50%;
	content: "";
	width: 10px;
	height: 10px;
	left: -27px;
	position: absolute;
	transition: all 1s ease 0s;
}
.bloglist .blogs:after{
	background: #474645 url("../images/ti.png") no-repeat;
	content: "";
	height: 29px;
	left: -148px;
	width: 121px;
	position: absolute;
	top: -9px;
	transition: all 1s ease 0s;
	opacity: 0;
}
.bloglist .blogs:hover:after{
	opacity: 1;
}
.blogs h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
   
}
.blogs h3 a:hover{
	text-decoration: underline;
}

.bloglist .blogs figure{
	width: 25%;
	overflow: hidden;
}

.bloglist .blogs figure img{
	margin: auto;
	transition:0.5s ease 0s;
	width: 100%;
}
.bloglist .blogs figure img:hover{
	transform: scale(1.1);
}
.bloglist .blogs .artview{
	color: #474645;
    line-height: 20px;
    width: 72%;
}
a.readmore {
    background: #e41635 none repeat scroll 0 0;
    color: #fff;
    float: right;
    margin: 20px 0 0;
    padding: 5px 10px;
}

.author{
	display: block;
	background: #f6f6f6 none repeat scroll 0 0;
	color: #838383;
	height: 26px;
    line-height: 26px;
    margin: 10px 0 0;
    overflow: hidden;
    width: 100%;
}
.author span {
    margin: 0 10px;
}



/* 主页边栏 */
aside{
	width: 27%;
	float: right;
}

/* 底边 */
footer{
	display: block;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    padding: 50px;
}

    
    

