/* 主页博文列表 */
article .banner{
    background: url('../images/banner4.jpg') no-repeat center center;
    height: 290px;
    margin: 10px auto;
    width: 100%;
}

article .banner ul{
    line-height: 36px;
    padding: 50px 0 0 40px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.3);

}
article .banner ul li:nth-of-type(1){
    animation: 3s ease-out 1s normal backwards 1 running animations;
}
article .banner ul li:nth-of-type(2){
    animation: 3s ease-out 4s normal backwards 1 running animations;
}
article .banner ul li{
    transform: translate(60px);
    transition: 1s ease 0s;
}
article .banner ul li:hover{
    transform: translate(100px);
}
@keyframes animations {
    0% {
        opacity: 0;
        transform: translate(0px);
    }
    50% {
        opacity: 0.5;
        transform: translate(30px);
    }
    100% {
        opacity: 1;
        transform: translate(60px);
    }
}
@-webkit-keyframes animations {
    0% {
        opacity: 0;
        transform: translate(0px);
    }
    50% {
        opacity: 0.5;
        transform: translate(30px);
    }
    100% {
        opacity: 1;
        transform: translate(60px);
    }
}
@-moz-keyframes animations {
    0% {
        opacity: 0;
        transform: translate(0px);
    }
    50% {
        opacity: 0.5;
        transform: translate(30px);
    }
    100% {
        opacity: 1;
        transform: translate(60px);
    }
}
@-ms-keyframes animations {
    0% {
        opacity: 0;
        transform: translate(0px);
    }
    50% {
        opacity: 0.5;
        transform: translate(30px);
    }
    100% {
        opacity: 1;
        transform: translate(60px);
    }
}


/* 主页博文列表*/
.bloglist h2{
    border-bottom: 2px solid #474645;
    font-family: "Microsoft Yahei",Arial,Helvetica,sans-serif;
    font-size: 16px;
    height: 26px;
    letter-spacing: 2px;
    line-height: 28px;
    margin: 0 8px 20px;
    overflow: hidden;
    
}
.bloglist h2 span{
    background: #474645 none repeat scroll 0 0;
    box-shadow: 4px 5px 1px #999;
    color: #fff;
    text-align: center;
    width: 180px;
    display: block;
}
.blogs {
    margin: 0 20px 20px;
    position: relative;
}

.bloglist .blogs:before{
    background: #cac1c1 none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 50%;
    content: "";
    width: 10px;
    height: 10px;
    left: -27px;
    position: absolute;
    transition: all 1s ease 0s;
}
.bloglist .blogs:after{
    background: #474645 url("../images/ti.png") no-repeat;
    content: "";
    height: 29px;
    left: -148px;
    width: 121px;
    position: absolute;
    top: -9px;
    transition: all 1s ease 0s;
    opacity: 0;
}
.bloglist .blogs:hover:after{
    opacity: 1;
}
.blogs h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
   
}
.blogs h3 a:hover{
    text-decoration: underline;
}

.bloglist .blogs figure{
    width: 25%;
    overflow: hidden;
}

.bloglist .blogs figure img{
    margin: auto;
    transition:0.5s ease 0s;
    width: 100%;
}
.bloglist .blogs figure img:hover{
    transform: scale(1.1);
}
.bloglist .blogs .artview{
    color: #474645;
    line-height: 20px;
    width: 72%;
}
a.readmore {
    background: #e41635 none repeat scroll 0 0;
    color: #fff;
    float: right;
    margin: 20px 0 0;
    padding: 5px 10px;
}

.author{
    display: block;
    background: #f6f6f6 none repeat scroll 0 0;
    color: #838383;
    height: 26px;
    line-height: 26px;
    margin: 10px 0 0;
    overflow: hidden;
    width: 100%;
}
.author span {
    margin: 0 10px;
}
/* 主页边栏 */

aside .me{
    width: 160px;
    height: 160px;
    border-radius: 100%;
    margin: 10px auto;
    overflow: hidden;
}
aside .me a{
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/head.jpg') no-repeat scroll 0 0 / 160px 160px;
    padding-top:100px; 
}
aside .me a span{
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    color: #fff;
    display: block;
    height: 55px;
    line-height: 20px;
    margin-top: 63px;
    padding-top: 8px;
    text-align: center;
    transition: margin-top 0.2s ease-in-out 0s;
    width: 160px;
}
aside .myinfor{
    font-size: 12px;
    color: #fff;
    line-height: 26px;
    margin: 10px 0;
}
aside .myinfor p{
    padding-left: 40px;

}
aside .myinfor p a{
     color: #fff;
}